<mat-form-field class="w-full">
  <mat-label>{{fieldLabel}}</mat-label>

  <mat-chip-grid #chipGrid>
    @for (chip of selectedChips(); track $index) {
      <mat-chip-row (removed)="remove(chip)">
        {{chip}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
  </mat-chip-grid>

  <input
    #chipInput
    [(ngModel)]="currentChip"
    [placeholder]="fieldPlaceholder || 'Enter ' + (fieldLabel | lowercase)"
    [matChipInputFor]="chipGrid"
    [matAutocomplete]="auto"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    (matChipInputTokenEnd)="add($event)">

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event); chipInput.value = ''">
    @for (chip of filteredChips(); track chip) {
      <mat-option [value]="chip.name">{{chip.name}}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>

@if (fieldErrors != null && fieldErrors.length > 0) {
  <div class="field-errors">
    @for (error of fieldErrors; track $index) {
      <mat-error>{{error}}</mat-error>
    }
  </div>
}
