<gm-data-loading-wrapper
  class="gm-data-loading-wrapper_page-wrapper"
  [loadingState]="authLoadingState()">
  <mat-toolbar class="flex justify-between">
    <span>GM Vocabulary</span>
    <div class="flex">
      <button matButton routerLink="/words" [queryParams]="{groupId: 'all'}" routerLinkActive="text-active pointer-events-none" [routerLinkActiveOptions]="{ exact: true }">Words</button>
      <button matButton routerLink="/collections" routerLinkActive="text-active" [routerLinkActiveOptions]="{ exact: true }">Collections</button>
      <button matButton (click)="logout()">Logout</button>
    </div>
  </mat-toolbar>

  <div class="grow">
    <router-outlet />
  </div>
</gm-data-loading-wrapper>
