$transition: 280ms cubic-bezier(0.4, 0, 0.2, 1);
$color-active: var(--mat-button-protected-label-text-color, var(--mat-sys-primary));
$background-color-active: var(--mat-fab-small-container-color, var(--mat-sys-primary-container));

.field-errors {
  display: flex;
  flex-direction: column;
  // place closer to angular input
  margin-top: -16px;
  padding-bottom: 16px;
}

.text-active {
  color: $color-active;
}

.has-hover-color {
  transition: color $transition;
  &:hover {
    color: $color-active;
  }
}

.has-hover-background {
  transition: background-color $transition;
  &:hover {
    background-color: $background-color-active;
  }
}
