<gm-data-loading-wrapper
  [loadingState]="fetchIsLoading() || deleteIsLoading()"
  [error]="fetchError() || deleteError()">
  @if (collections() != null) {
    @if (collections().length > 0) {
      <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
        <ng-container *ngTemplateOutlet="addCollectionCardTpl"></ng-container>

        @for (collection of collections(); track collection._id) {
          <ng-container
            [ngTemplateOutlet]="collectionCardTpl"
            [ngTemplateOutletContext]="{collection: collection}"
          ></ng-container>
        }
      </div>

    } @else {
      <div class="flex flex-col justify-center items-center h-full w-full">
        <h1 class="pb-3">There are no collections added</h1>
        <ng-container *ngTemplateOutlet="addCollectionCardTpl"></ng-container>
      </div>
    }
  }
</gm-data-loading-wrapper>

<ng-template #collectionCardTpl let-collection="collection">
  <mat-card
    class="cursor-pointer has-hover-background"
    appearance="outlined"
    routerLink="/words"
    [queryParams]="{groupId: collection._id}"
    (click)="openEditDialog(collection)">
    <mat-card-content>
      <mat-card-title>
        <div class="flex items-center">
          <div class="flex justify-between mr-2 grow-1 items-center">
            <span class="grow-1">{{ collection.name }}</span>
            @if (collection.isShared) {
              <mat-icon class="text-active ml-2" matTooltip="Collection visible for other users">share</mat-icon>
            }
          </div>

          <button
            matMiniFab
            class="mr-2"
            (click)="$event.stopPropagation(); openEditDialog(collection)">
            <mat-icon>edit</mat-icon>
          </button>

          <button
            matMiniFab
            (click)="$event.stopPropagation(); openDeleteDialog(collection._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-title>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #addCollectionCardTpl>
  <mat-card
    appearance="outlined"
    class="items-center justify-center has-hover-color cursor-pointer"
    (click)="openEditDialog()">
    <mat-card-content>
      <div class="flex items-center">
        <mat-icon class="mr-1">add</mat-icon>
        Add collection
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
